@font-face {
  font-family: Cybrpnuk2;
  src: url('./assets/fonts/Cybrpnuk2.ttf');
}

@font-face {
  font-family: UkNumberPlate;
  src: url('./assets/fonts/UKNumberPlate.ttf');
}

body {
  background: #001112;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #5fe3bb;
  font-family: UkNumberPlate;
}

.title {
  font-family: Cybrpnuk2;
  font-size: 52px;
}

.window {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}